.message__content {
  max-height: calc(100vh - 270px);
  overflow-y: scroll;
}
.search__message {
  background: rgb(240, 242, 245);
  padding: 2px 10px;
  input {
    width: 100%;
    outline: none;
    color: black;
    padding-left: 25px;
  }
}
